name: Validate Catalogs

on:
  push:
    branches-ignore:
      - 'master'
  pull_request:
    types: [ opened, reopened ]

jobs:
  validate-catalogs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
      - name: Setup gradle
        uses: gradle/gradle-build-action@v2.8.0
      - name: Validate catalogs
        run: ./gradlew validateCatalog
