name: Validate Catalogs

on:
  pull_request:
    types: [ opened, reopened ]

jobs:
  validate-catalogs:
    if: false
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v5
      - name: Setup gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: current
      - name: Validate catalogs
        run: ./gradlew validateCatalog
